anaconda==0.0.1.1
asgiref==3.3.1
click==7.1.2
Django==3.1.7
Flask==1.1.2
gunicorn==20.1.0
image==1.5.33
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.20.0
opencv-python==4.5.1.48
opencv-utf-8==0.0.5
Pillow==8.1.2
pytesseract==0.3.7
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
Werkzeug==1.0.1
